<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yashhomeautomation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.register.register"></activity>
        <activity android:name=".ui.firebase" />
        <activity
            android:name=".ui.colorLED.colorLED"
            android:parentActivityName=".ui.home.home" />
        <activity
            android:name=".ui.room3.room3"
            android:label="Room3"
            android:parentActivityName=".ui.home.home" />
        <activity
            android:name=".ui.room2.room2"
            android:label="Room2"
            android:parentActivityName=".ui.home.home" />
        <activity
            android:name=".ui.room1.room1"
            android:label="Room1"
            android:parentActivityName=".ui.home.home" />
        <activity
            android:name=".ui.home.home"
            android:label="Home"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>